@mixin card {
  & {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    border-radius: 40px;

  }
}

.card {
  position: relative;
  height: 300px;
  width: 250px;
  font-weight: 800;
  border: 3px solid rgb(105, 87, 191);
  transition: (all .2s ease-in), (transform .2s ease-in);
  @include card;

  &__selected {
    border-color: gold;
  }

  &__back {
    background-color: black;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transform: rotateY(-180deg);
    @include card;
    z-index: -1;
  }

  &__face {
    background-color: rgb(105, 87, 191);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    @include card;
    z-index: 1;

  }

  &__opened {
    background-color: aquamarine;
    transform: rotateY(180deg);
  }

  &__opened &__back {
    z-index: 1;
  }

  &__opened &__face {
    z-index: -1;
  }
}